{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
    <title>BTP Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css' ) }}" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css' ) }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/github-light.css' ) }}" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-bottom: 20px;
    }

    /* Add rounded corners to the top left and the top right corner of the image */
    img {
    border-radius: 5px 5px 0 0;
    }

    .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .container {
    padding: 2px 16px;
    }
    </style>
{% endblock %}


{% block body %} 
<section class="page-header">
    <h2 class="project-tagline" style="color: white" > Enter your query here: </h2>
    <form method="POST" action="">
            <input type="text" name="query" />
            <input type="submit" value="search" />
    </form>
  </section>

  <section class="main-content">
    <h2>
        <a id="about-me" class="anchor" href="#about-me" aria-hidden="true">
            <span aria-hidden="true" class="octicon octicon-link"></span>
        </a>
        Results
    </h2>

    <div class="card">
        <div class="container">
        <h4><b>method_name</b></h4>
        <p>sample code snippet here!</p>
        { % for i in range(10): % }
        {%= i %}*{%= i %} : <b> {%= i*i %} </b>
        </div>
    </div>

{% endblock body %}